pkg
src
*.pkg.tar.xz
*.deb
*.tar.gz
*.tar.xz
*.tar.bz2
*.zip
brinkOS-icons/brinkOS-icons
brinkOS-wallpapers/brinkOS-wallpapers
brinkOS-theme/brinkOS-theme
brinkOS-installer/brinkOS-installer
brinkOS-qt5-styleplugins/brinkOS-qt5-styleplugins
brinkOS-plymouth/brinkOS-plymouth
brinkOS-slack/brinkOS-slack
brinkOS-gdm-plymouth/brinkOS-gdm-plymouth
brinkOS-google-chrome/brinkOS-google-chrome
brinkOS-plymouth-theme/brinkOS-plymouth-theme
brinkOS-antigen/antigen
brinkOS-code/vscode
brinkOS-vim-colors/brinkOS-vim-colors
brinkOS-nexus/brinkOS-nexus
brinkOS-nexus/Nexus
brinkOS-xf86-input-mtrack/xf86-input-mtrack
brinkOS-oor/oor
brinkOS-networkmanager-ssh/brinkOS-networkmanager-ssh
brinkOS-assets/brinkOS-assets
