pkg
src
*.pkg.tar.xz
*.deb
brinkOS-icons/brinkOS-icons
brinkOS-wallpapers/brinkOS-wallpapers
brinkOS-theme/brinkOS-theme
brinkOS-installer/brinkOS-installer
brinkOS-qt5-styleplugins/brinkOS-qt5-styleplugins
brinkOS-plymouth/brinkOS-plymouth
brinkOS-slack/brinkOS-slack
